{% extends "job_portal/base.html" %}
{% block content %}

<body class="flex flex-col items-center justify-center flex-grow bg-very-pale-blue h-full">

    <div class="flex items-center justify-center my-[50px]">
        <div class="flex items-center gap-x-[75px] px-[70px] bg-bright-blue w-[844px] h-[590px] rounded-[6px]">
            <div class="flex flex-col items-start gap-y-[11px] -mt-[200px] w-[70%]">
                <img src="assets/logo.png" alt="">
                <span>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Proin eget tortor
                    risus.
                    Nulla porttitor accumsan
                    tincidunt.</span>
            </div>
        </div>
        <div class="flex flex-col gap-y-[32px] bg-white text-[38px] p-[29px] rounded-[6px] w-[451px] -ml-[300px]">
            <h1 class="font-semibold">Register</h1>
            <div class="flex flex-col gap-y-[32px]">
                <div class="flex flex-col gap-y-[16px]">
                    <div class="flex flex-col gap-y-1">
                        <label for="*" class="label">Username</label>
                        <input type="text" placeholder="Enter username" class="input-2px">
                    </div>
                    <div class="flex flex-col gap-y-1">
                        <label for="*" class="label">Email</label>
                        <input type="email" placeholder="Enter email" class="input-2px">
                    </div>
                    <div class="flex flex-col gap-y-1">
                        <label for="*" class="label">User Type</label>
                        <select name="user-type" id="" required class="select">
                            <option value="">Job Seeker</option>
                            <option value="">Job Provider</option>
                        </select>
                    </div>
                    <div class="flex flex-col gap-y-1">
                        <label for="*" class="label">Password</label>
                        <input type="text" placeholder="Username" class="input-2px">
                    </div>
                    <div class="flex flex-col gap-y-1">
                        <label for="*" class="label">Confirm Password</label>
                        <input type="text" placeholder="Username" class="input-2px">
                    </div>
                </div>
                <button class="btn">
                    Login
                </button>
            </div>
            <div class="flex items-center gap-x-1 self-center">
                <span class="text-sm">Already have an account?</span>
                <a href="#" class="text-sm text-vivid-blue">Sign Up</a>
            </div>
        </div>
    </div>

</body>

{% endblock %}
