{% extends "job_portal/base.html" %}
{% block content %}
{% load static %}
{% load humanize %}

<body class="flex flex-col bg-very-pale-blue">
    <nav class="flex-shrink-0 flex justify-between items-center bg-white py-[15px] pl-[150px] pr-[50px]">

        <a href="{% url 'home' %}"><img src="{% static 'assets/logo-blue.png' %}" alt="" class="w-[120px] h-[25px]"></a>
        <div x-data="{ show: false }" class="relative">
            <div class="inline-flex items-center gap-x-2">
                <div class="flex flex-col items-end">
                    <span>{{ user.username }}</span>
                </div>
                <img src="{% static 'assets/profile.svg' %}" alt="" class="w-[36px] h-[36px]" @click="show = ! show">
            </div>
            <div x-show="show"
                class="absolute bg-white p-[12px] right-0 w-[120px] rounded-[4px] shadow-[0_0_40px_0_rgba(0,0,0,0.1)]">
                <a href="{% url 'profile' %}"
                    class="block w-full font-light p-2 text-center hover:bg-light-grayish-blue rounded-[4px]">
                    Profile
                </a>
                <a href="{% url 'logout' %}"
                    class="block w-full font-light p-2 text-center hover:bg-light-grayish-blue rounded-[4px]">
                    Logout
                </a>
            </div>
        </div>
    </nav>
    <main class="flex flex-col gap-y-[44px] flex-grow px-[200px] py-[60px]">
        <section class="flex-shrink-0 flex items-center justify-between bg-white p-[36px]">
            <div class="flex items-center gap-x-[48px]">
                <img src="{% static 'assets/profile.svg' %}" alt="" class="w-[90px] h-[90px]">
                <div class="flex flex-col gap-y-[12px]">
                    <span class="font-semibold text-[22px]">{{ user.username }}</span>
                    <span class="font-light">{{ user.email }}</span>
                </div>
            </div>
        </section>

        {% if user.seeker %}
        <section class="flex-grow flex flex-col gap-y-[43px] bg-white min-h-[400px] p-[36px]">
            <div class="flex-shrink-0 flex justify-between items-center">
                <div class="text-[22px] font-semibold italic text-left">Personal Information</div>
                <a href="{% url 'profile.edit' %}"><button class="btn-outline">Edit</button></a>
            </div>
            <div class="flex-grow grid grid-cols-3 gap-x-8">
                <div class="flex flex-col gap-y-[34px]">
                    <div class="flex flex-col gap-y-[8px]">
                        <div class="label-2">Fullname</div>
                        <div class="info">
                            {% if user.seeker.full_name %}
                            {{ user.seeker.full_name }}
                            {% else %}
                            <span class="text-xs font-normal">Not set</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="flex flex-col gap-y-[8px]">
                        <div class="label-2">Skills</div>
                        <div class="info prose">
                            {% if user.seeker.seekerskill_set.all %}
                            <ul>
                                {% for seeker_skill in user.seeker.seekerskill_set.all %}
                                <li>{{ seeker_skill.skill.name }}</li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <span class="text-xs font-normal">Not set</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="inline-flex flex-col items-start gap-y-[8px]">
                        <div class="label-2">Resume</div>
                        {% if user.seeker.resume %}
                        <a href="{{ user.seeker.resume.url }}"><button class="btn">View Resume</button></a>
                        {% else %}
                        <span class="text-xs font-normal">Not set</span>
                        {% endif %}
                    </div>
                </div>
                <div class="col-span-2 flex flex-col gap-y-[34px]">
                    <div class="flex flex-col gap-y-[8px]">
                        <div class="label-2">About Me</div>
                        <div class="info prose">
                            {% if user.seeker.about_me %}
                            {{ user.seeker.about_me }}
                            {% else %}
                            <span class="text-xs font-normal">Not set</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="flex flex-col gap-y-[8px]">
                        <div class="label-2">Experience</div>
                        <div class="info prose">
                            {% if user.seeker.experience %}
                            {{ user.seeker.experience }}
                            {% else %}
                            <span class="text-xs font-normal">Not set</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% else %}
        <section class="flex-grow flex flex-col gap-y-[43px] bg-white min-h-[400px] p-[36px]">
            <div class="flex-shrink-0 flex justify-between items-center">
                <div class="text-[22px] font-semibold italic text-left">Job Provider/Company Information</div>
                <a href="{% url 'profile.edit' %}"><button class="btn-outline">Edit</button></a>
            </div>
            <div class="flex-grow grid grid-cols-3 gap-x-8">
                <div class="flex flex-col gap-y-[34px]">
                    <div class="flex flex-col gap-y-[8px]">
                        <div class="label-2">Provider Name</div>
                        <div class="info">
                            {% if user.provider.name %}
                            {{ user.provider.name }}
                            {% else %}
                            <span class="text-xs font-normal">Not set</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="flex flex-col gap-y-[8px]">
                        <div class="label-2">City - Country</div>
                        <div class="info">
                            {% if user.provider.city %}
                            {{ user.provider.city }} - {{ user.provider.country }}
                            {% else %}
                            <span class="text-xs font-normal">Not set</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-span-2 flex flex-col gap-y-[34px]">
                    <div class="flex flex-col gap-y-[8px]">
                        <div class="label-2">About Us</div>
                        <div class="info prose">
                            {% if user.provider.about %}
                            {{ user.provider.about }}
                            {% else %}
                            <span class="text-xs font-normal">Not set</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="flex-grow flex flex-col gap-y-[43px] bg-white min-h-[400px] p-[36px]">
            <div class="flex-shrink-0 flex justify-between items-center">
                <div class="text-[22px] font-semibold italic text-left">Posted Jobs</div>
                <a href="{% url 'post_job' %}"><button class="btn-outline">Post Job</button></a>
            </div>
            <div class="flex flex-col gap-y-[41px] px-[70px] py-[20px] max-h-[700px] overflow-auto">
                {% for job in user.provider.job_set.all %}
                <div class="flex flex-col p-[23px] shadow-[0_0_20px_0_rgba(24,47,67,0.2)] rounded-[6px]">
                    <div class="flex justify-between">
                        <div class="flex items-center gap-x-[18px] text-xs font-light uppercase">
                            <span>posted on</span>
                            <span>{{ job.date_posted|date:"F j, Y" }}</span>
                        </div>
                    </div>
                    <div class="flex flex-col gap-y-[12px] mt-[14px]">
                        <div class="flex items-center gap-x-[14px]">
                            <div class="text-[22px] font-semibold italic">
                                {{ job.name }}
                            </div>
                            <div class="flex items-center gap-x-[8px]">
                                {% for jobskill in job.jobskill_set.all %}
                                <div class="pill">{{ jobskill.skill.name }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="font-light">
                            {{ job.description|truncatewords:50 }}
                        </div>
                    </div>
                    <div class="flex justify-between mt-[28px]">
                        <div class="text-lg font-semibold">${{ job.salary|intcomma }}</div>
                        <a href="{% url 'show_posted_job' id=job.id %}" class="flex items-center gap-x-2">
                            <span class="uppercase text-sm font-light">view posting</span>
                            <span><img src="{% static 'assets/chevron-right.svg' %}" alt=""></span>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        {% endif %}

    </main>
</body>

{% endblock %}
