{% extends "job_portal/base.html" %}
{% block content %}
{% load static %}

<body class="flex flex-col bg-very-pale-blue">
    <nav class="flex-shrink-0 flex justify-between items-center bg-white py-[15px] pl-[150px] pr-[50px]">

        <a href="{% url 'home' %}"><img src="{% static 'assets/logo-blue.png' %}" alt="" class="w-[120px] h-[25px]"></a>
        <div x-data="{ show: false }" class="relative">
            <div class="inline-flex items-center gap-x-2">
                <div class="flex flex-col items-end">
                    <span>{{ user.username }}</span>
                </div>
                <img src="{% static 'assets/profile.svg' %}" alt="" class="w-[36px] h-[36px]" @click="show = ! show">
            </div>
            <div x-show="show"
                class="absolute bg-white p-[12px] right-0 w-[120px] rounded-[4px] shadow-[0_0_40px_0_rgba(0,0,0,0.1)]">
                <a href="{% url 'profile' %}"
                    class="block w-full font-light p-2 text-center hover:bg-light-grayish-blue rounded-[4px]">
                    Profile
                </a>
                <a href="{% url 'logout' %}"
                    class="block w-full font-light p-2 text-center hover:bg-light-grayish-blue rounded-[4px]">
                    Logout
                </a>
            </div>
        </div>
    </nav>
    <main class="flex flex-col gap-y-[44px] flex-grow px-[200px] py-[60px]">
        <section class="flex-grow flex flex-col gap-y-[55px] bg-white min-h-[400px] p-[36px]">
            <div class="flex-shrink-0 flex flex-col gap-y-[36px]">
                <div class="flex justify-between items-start">
                    <a href="{% url 'profile' %}" class="flex items-center gap-x-2">
                        <span><img src="{% static 'assets/chevron-left.svg' %}" alt=""></span>
                        <span class="uppercase text-sm font-light">Go Back</span>
                    </a>
                </div>
                <div class="text-[28px] font-semibold italic ml-[42px]">Creating a Job</div>
            </div>
            <form method="POST" class="flex flex-col gap-y-[20px]">
                {% csrf_token %}
                <div class="flex flex-col gap-y-[50px] px-[42px]">
                    <div class="flex flex-col gap-y-[34px]">
                        <div class="text-[22px] font-semibold italic">Role Information</div>
                        <div class="flex flex-col gap-y-[24px]">
                            <div class="grid grid-cols-3">
                                <div class="flex flex-col gap-y-[5px]">
                                    <span class="label">Name</span>
                                    {{ jobForm.name }}
                                </div>
                                <div class="flex flex-col gap-y-[5px]">
                                    <span class="label">Type</span>
                                    {{ jobForm.type }}
                                </div>
                                <div class="flex flex-col gap-y-[5px]">
                                    <span class="label">Salary (in $)</span>
                                    {{ jobForm.salary }}
                                </div>
                            </div>
                            <div class="flex flex-col gap-y-[5px]">
                                <span class="label">Required skill(s)</span>
                                <div class="flex flex-col gap-y-[5px]">
                                    {{ jobForm.jobskill }}
                                </div>
                            </div>
                            <div class="flex flex-col gap-y-[5px]">
                                <span class="label">Description</span>
                                {{ jobForm.description }}
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn self-end">Save</button>
            </form>
        </section>
    </main>
</body>

{% endblock %}
